
/node_modules/
/vendor/
.phpunit.result.cache
/nbproject/private/
*.*~
*.DS_STORE
bin/settings/environments.php

/vendor/
app/tests/coverage.xml

#Storage locations
/storage/public
/storage/private
/public/storage
