<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" 
	backupGlobals="true" 
	backupStaticAttributes="false" 
	colors="false" 
	convertErrorsToExceptions="false" 
	convertNoticesToExceptions="false" 
	convertWarningsToExceptions="false" 
	forceCoversAnnotation="false" 
	processIsolation="false" 
	stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" stopOnRisky="false" timeoutForSmallTests="1" timeoutForMediumTests="10" timeoutForLargeTests="60" verbose="false">
  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory suffix=".php">tests</directory>
    </exclude>
    <report>
      <clover outputFile="/tmp/coverage.xml"/>
    </report>
  </coverage>
  <logging/>
</phpunit>
