
.stacktrace {
	background: #FFF;
	padding:  20px 0;
}

.signature {
	background: #f37a44;
	color: #FFF;
	padding: 10px;
	margin-top: 10px;
}

.excerpt {
	background: #FFF;
	color:      #444;
	border: solid 1px #CCC;
	line-height: 1.3em;
	margin:        0;
	padding:  10px 0;
	max-width:  100%;
	overflow-x: auto;
	
	background-image: linear-gradient(90deg, #EEE 35px, #FFF 36px);
}

.excerpt .line {
	background: #FFF;
	padding-left: 15px;
}

.excerpt .line.error {
	background: #FCC;
}
